[submodule "Pearl/vendor/imgui"]
	path = Pearl/vendor/imgui
	url = https://github.com/sinclairjang/imgui.git
[submodule "Pearl/vendor/spdlog"]
	path = Pearl/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
