[submodule "Vu/vendor/imgui"]
	path = Formula/vendor/imgui
	url = https://github.com/sinclairjang/imgui.git
[submodule "Vu/vendor/spdlog"]
	path = Formula/vendor/spdlog
	url = https://github.com/gabime/spdlog
